/* Admin */
h1 {
    text-align: center;
    color: #343a40;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

form {
    text-align: center;
    margin-bottom: 20px;
}

input[type="search"] {
    padding: 10px;
    font-size: 16px;
    width: 300px;
    border: 2px solid #ced4da;
    border-radius: 5px;
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#spinner {
    display: none;
    margin: 0 auto;
}

#container {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
}

table, th, td {
    border: 1px solid #dee2e6;
}

th, td {
    padding: 15px;
    text-align: left;
}

th {
    background-color: #0056b3;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

td img {
    display: block;
    margin: 0 auto;
}

.action-links a {
    margin-right: 10px;
}

/* Tambah */
form {
    max-width: 500px;
    margin: 0 auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #0056b3;
}

input[type="file"],
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

/* Ubah */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    width: 100%;
}

ul {
    padding: 0;
    list-style: none;
}

ul li {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"],
button {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #0056b3;
    border: 1px solid #0056b3;
    transition: .2s;
    color: white;
    cursor: pointer;
}

button:hover {
    color: #0056b3;
    border: 1px solid #0056b3;
    background-color: #fff;
}